<template>
    <main class="h-100">
        <transition name="component-fade" mode="out-in">
            <component @submitForm="submitForm" :is="currentView" :name="name" :profileImage="profileImage"/>
        </transition>
    </main>
</template>

<script>
import Form from './components/Form.vue';
import Success from './components/Success.vue';

export default {
    components: {
        Form,
        Success
    },
    data() {
        return {
            currentView: Form,
            profileImage: '',
            name: ''
        }
    },
    methods: {
        submitForm: function(name, profileImage) {
            if (this.currentView === Form) {
                this.name = name
                this.profileImage = profileImage
                this.currentView = Success
            }
        }
    }
}
</script>

<style scoped>
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity 2.0s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}
</style>