// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Custom Bootstrap
@import 'bootstrap';

html, body {
    height: 100%;
}

html body {
    background: #fff;
    font-family: 'Open Sans', serif;

    @include media-breakpoint-up(sm) {
        background: rgb(223,255,217);
        background: linear-gradient(90deg, rgba(223,255,217,1) 0%, rgba(239,230,216,1) 50%, rgba(255,207,215,1) 100%);
    }    
}

#overlay {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .7;

    .spinner-border {
        color: darken(#fab5bd, 10%);
        width: 4rem;
        height: 4rem;
    }

    @include media-breakpoint-up(sm) {
        border-radius: 10px;
    }    
}

.form-area {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 50px;
    position: relative;

    #profile-image {
        max-height: 100px;

        @include media-breakpoint-up(sm) {
            max-height: 200px;
        }
    }

    @include media-breakpoint-up(sm) {
        -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.08); 
        box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.08);
    }    
}
