<template>
    <div class="container h-100">
        <div class="d-flex row align-items-center justify-content-center h-100">
            <div class="form-area col-12">
                <div v-if="'general' in errors" class="alert alert-danger" role="alert">
                    {{ errors.general[0] }}
                </div>
                <div v-if="loading" id="overlay" class="d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>                
                </div>        
                <form>
                    <div class="d-flex align-items-center w-100">
                        <h2 class="mr-auto">Get Started</h2>
                        <small class="text-muted d-none d-sm-inline">* denotes a required field</small>
                    </div>
                    <small class="text-muted d-block d-sm-none mb-2">* denotes a required field</small>
                    <div class="form-group">
                        <label for="name-field">What's your name? *</label>
                        <small id="name-help" class="form-text text-muted mb-2">Lorem ipsum dolor sit amet, lorem ipsum dolor.</small>
                        <input v-model="name" id="name-field" name="name" type="text" class="form-control" :class="{ 'is-invalid': 'name' in errors }" placeholder="Jane Bloggs" aria-describedby="name-help">
                        <div v-if="'name' in errors" class="invalid-feedback">
                            {{ errors.name[0] }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email-field">Email address *</label>
                        <small id="email-help" class="form-text text-muted mb-2">Lorem ipsum dolor sit amet, lorem ipsum dolor.</small>
                        <input v-model="email" id="email-field" name="email" type="text" class="form-control" :class="{ 'is-invalid': 'email' in errors }" aria-describedby="email-help">
                        <div v-if="'email' in errors" class="invalid-feedback">
                            {{ errors.email[0] }}
                        </div>                        
                    </div>

                    <div class="form-group">
                        <label for="photo-field">Profile photo</label>
                        <small id="photo-help" class="form-text text-muted mb-2">Lorem ipsum dolor sit amet, lorem ipsum dolor.</small>
                        <input id="photo-field" ref="photos" name="photo" @change="photoSelect" type="file" class="form-control-file" :class="{ 'is-invalid': 'photo' in errors }" aria-describedby="photo-help">
                        <div v-if="'photo' in errors" class="invalid-feedback">
                            {{ errors.photo[0] }}
                        </div>                        
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary px-5" @click="submitForm">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            name: '',
            email: '',
            photos: [],
            errors: {}
        }
    },
    methods: {
        submitForm(e) {
            e.preventDefault()

            this.errors = this.validateForm();

            if (Object.keys(this.errors).length === 0) {
                this.loading = true

                this.postProfile()
                    .then(response => {
                        setTimeout(() => {
                            this.loading = false
                            this.$emit('submitForm', this.name, response.data.resized)
                        }, 100)
                    }).catch((error) => {
                        this.errors = error.response.data.errors || { 'general': [error.response.data.message] || ['An error occurred'] }

                        setTimeout(() => {
                            this.loading = false
                        }, 100)
                    })            
            }
        },
        validateForm() {
            let errors = {}

            const name = this.name
            const email = this.email

            if (name === '') {
                errors.name = []
                errors.name.push('The name field is required.')
            }

            if (email == '') {
                errors.email = []
                errors.email.push('The email field is required.')
            }

            return errors
        },
        postProfile() {
            const settings = { headers: { 'content-type': 'multipart/form-data' }}

            const name = this.name
            const email = this.email
            const photo = this.photos[0]

            let data = new FormData()
            data.append('name', name)
            data.append('email', email)

            if (photo !== undefined) {
                data.append('photo', photo, photo.name)
            }

            return axios.post('/', data, settings)
        },
        photoSelect() {
            this.photos = this.$refs.photos.files
        }
    }
}
</script>