<template>
    <div class="container h-100">
        <div class="d-flex row align-items-center justify-content-center h-100">
            <div class="form-area col-12">
                <h2>Thanks, <br class="d-block d-sm-none">{{ name }}</h2>
                <div>
                    <img id="profile-image" v-if="profileImage !== ''" :src="profileImagePath" class="img-thumbnail mb-2 mr-2 float-left">                    
                    <p class="text-muted">                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            default: ''
        },
        profileImage: {
            type: String,
            default: ''
        }
    },
    computed: {
        profileImagePath: function() {
            return '/storage/profiles/' + this.profileImage
        }
    }
}
</script>